// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.project-category > summary {
	@include relative-font-size(1.75);
	font-weight: $base-font-weight;
	margin-top: $spacing-unit * 2;
	margin-bottom: $spacing-unit / 2;
	cursor: pointer;
	list-style: none;

	&::-webkit-details-marker {
		display: none;
	}

	&::after {
		content: " ▿";
		display: inline-block;
		transition: transform 150ms ease;
	}

	@media screen and (min-width: $on-large) {
		@include relative-font-size(2);
	}
}

.project-category[open] > summary::after {
	transform: rotate(180deg);
}
