---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class = "post-content">
		<h2>CAD Projects</h2>
		<table>
			{% for paper in site.papers %}
				{% if paper.category == "CAD" %}
					{% include paper-row.html paper=paper %}
				{% endif %}
			{% endfor %}
		</table>

		<h2>Other Projects</h2>
		<table>
			{% for paper in site.papers %}
				{% unless paper.category == "CAD" %}
					{% include paper-row.html paper=paper %}
				{% endunless %}
			{% endfor %}
		</table>
  </div>

</article>
